body{
    background-color: white;
    margin-top:3%
    /* min-width:505px */
    
}
.containter{
    z-index: 4;
    /* position: relative; */
}
a{
    text-decoration: none !important;
}
h3{
    margin-top:10px;
}
div{
    background-color:white;
    margin: 0 5% 0 5%
    
}
.row{
    margin: 0 5% 0 5%;  
    
}
.backup_arrow{
    opacity: 0.75;
    position: fixed;
    bottom:1%;
    right:1%;
    width:3%;
    height: auto;
    z-index: 1;
}
.backup_arrow2{
    opacity: 0.75;
    position: fixed;
    top:10%;
    right:1%;
    width:3%;
    height: auto;
    z-index: 1;
}
.cartmenu{
    position: absolute;
    top:1%;
    right:0%;
    width:50px;
    height: auto;
    z-index: 1;
}
.backup_arrow:hover{
opacity: 1;
}
.seachbar{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.imgright{
   width: 50%;
    /* max-height: 50%;  */
    float: right
}
.imgleft{
    width: 50%;
     /* max-height: 50%; */
     float: left
 }
 .imgright:hover{
    opacity: 0.5;
 }
 .imgleft:hover{
    opacity: 0.5;
  }
#mainleft{
    position: absolute;
    width:30%;
    left:0;
    margin:0;
    background-color: lightgray
    }
.mainleft{
position: absolute;
width:30%;
left:0;
margin:0;
background-color: lightgray
}
#mainright{
    position: relative;
    width:70%;
    right:0;
    margin:0;
    background-color: lightgray;
    right:0
    }
.mainright{
position: relative;
width:70%;
right:0;
margin:0;
background-color: lightgray;
right:0
}
.navbar{
    background-color: white;
    list-style-type: none;
    margin: 0 0% 0 0%;  
    padding: 0;
    width:80%;
    height: auto;
    float:right;
    position: absolute;
    bottom:0;
    left:20%
}
.navbarpop{
    background-color: white;
    list-style-type: none;
    margin: 0 0% 0 0%;  
    padding: 0;
    width:80%;
    height: auto;
    float:right;
    position: fixed;
    top:10%;
    left:20%;
    z-index: 2;
    
}
.sidenav {
    /* height: 100%;
    width: 200px; */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar_left{
    background-color:#FFECC9;
    width:120px;
    height:400px;
    text-align:center;
    line-height:400px;
    float:left;
    }
.dropbtn {
    background-color:   white;
    color: black;
    padding: 1%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right:5%;
    float:left;
    /* border:green solid 3px; */
    font-family: "Merienda One";
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
}
.dropbtn:active{
    opacity: 0.7;
}

.impactfont{
    font-family: "Sail";
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size:2vw;
    font-weight: bold;
}
.imglink{
    height:auto;
    width:100%;
    float: left;
    margin: 0;
    margin-top:8%
    
}

.imglink:hover{
    opacity: 0.5;
    
  }
.newitemimg:hover{
    opacity: 0.5;
}
.dropbtn:hover {
    background-color: rgb(204, 204, 204);
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.dropdownimg {
    position: relative;
    display: inline-block;
    float: right;
    margin-left:0;
    margin-right: 0;
    background-color: #f2f2f2
}

.seemoredetail {
    position: relative;
    display: inline-block;
    /* float: right; */
    background-color: none  ;
    width:10%;
    float:right
}
.textsidebar{
    /* position: relative; */
    display: inline-block;
    width:100%;
    height:60px;
    margin: 0;
    background-color: #f2f2f2;
    margin-top:0;
    margin-bottom: 10px;
    padding:5%;
    padding-left:30px;
    text-align:left;
    font-size: 15px;
    color:black;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

#sidenow{
    background-color:red;
    position: relative;
    display: inline-block;
    width:100%;
    margin: 0;
    margin-bottom: 10%;
    margin-top:3%;
    opacity: 0.8;
    text-align:left;
    font-size: 1.8vw;
    color:black;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
#sidenow a{
    color:black;
    
}
.textsidebar:hover{
    opacity: 1;
    background-color:red;
    color:white;
    transition:1s;
}
.textsidebar:active{
    background-color:darkred;
    transition:0s;
}
.sideres{
    background-color:#f2f2f2;
    margin-left:0;
    margin-right: 0;
    text-align: left;
    /* position:relative */
    
}
.carousel-indicators{
    z-index: 2;
}
.fontstyle{
    font-family: "Merienda One";
}
#backside{
    font-size:18px;
    text-align: left;
    width:50%;
}
.fonttitlestyle{
    /* font-family: "Sail"; */
    font-family: "Merienda One";
    font-weight: bold;
    font-size:20px;
    text-align: left;
    padding-top:5px;
    border-top: gray solid 2px;
    
}
#sidetitlenow{
    color:white;
    display: block;
    padding:5%;
}
#sidetitlenow:active{
    background-color:darkred;
    transition:0s;
}
#sidetitle{
    width:70%;float: left;
    font-size:17px;
    padding-left:40px;
}
#sidetitle2{
    width:100%;
    font-size:17px;
}
.hidesidebuttontop{
    color:black;
    margin-top:3%;

    width:auto;
    margin:0;
    font-size: 20px;
    padding:2% 0 2% 0;
    text-align: left;
    background-color:#f2f2f2;
    /* font-weight: bold; */

}
.hidesidebuttontop:hover{
    background-color:lightgreen;
    transition:0s;
}
.hidesidebuttontop:active{
    background-color:rgb(122, 236, 122);
    transition:0s;
}
#hidesidebuttontop_sub{
    font-size:15px;
    padding-left:20px;
}
#textbold{
    font-weight: bold;
}
#closemark{
    color:black;
    display: block;
    font-size: 20px;
    text-align:center;
    position:absolute;
    top:0;
    right:0;
    width:20px;
    height:20px;
    /* position: relative; */
}
#closemark p{
    position: absolute;
    top:20%;
    right:38%
}
.cartinsidehide{
    width:75%;
    position: absolute;
    bottom:0;

}
#closemark:hover{
    background-color:lightgreen;
    transition:0s;
}
#closemark:active{
    background-color:rgb(122, 236, 122);
    transition:0s;
}

.anow{
    text-align:left;
    
    margin-top:0;
    display: block;
    padding:10%;
    font-family: "Merienda One";
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size:1.8vw;
}
.anow:hover{
    background-color: lightgreen;
    transition:1s;
}
.anow:active{
    opacity: 0.5;
    transition:0s;
}

.sidebarbtn{
    text-align:center;
    color:black;
    opacity: 0.7;
}
.sidebarbtn:hover{
    color:white;
}


.detail-contentLeft {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:-500%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
}

.detail-contentMiddle {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:-300%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
 
}
.detail-contentRight {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:0%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
 
}

/* @media (max-width:350px){
.detail-contentLeft{
    visibility: hidden;
}
.detail-contentMiddle{
    visibility: hidden;
}
.detail-contentRight{
    visibility: hidden;
}
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.dropdownimg-content {
    display: none;
    position: absolute;
    left :100%;
    top:10%;
    background-color: #f9f9f9;
    width:auto;
    font-size:2vw;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    margin:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.dropdownimg-contenttext {
    display: none;
    position: absolute;
    left :100%;
    top:10%;
    background-color: #f9f9f9;
    width:50%;
    margin:0;
    font-size:2vw;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownimg-contenttext a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdownimg-contenttext a:hover{
background-color: lightcyan;
transition: 0.5s;
}
.dropdownimg-content-now{
    position: relative;
    left :0%;
    top:200%;
    background-color: #f2f2f2;
    width:100%;
    margin:0;
    
    z-index: 1;
}
.bottomborder{
    border-bottom: 0.1vw solid gray;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownimg-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdownimg-content a:hover {background-color: #c7c7c7}
.dropdown:hover .dropdown-content {
    display: block;
}
/* .seemoredetail:hover .detail-contentLeft{
    display:block;

} */
.seemoredetail:hover .detail-contentMiddle{
    display:block;
}
.seemoredetail:hover .detail-contentRight{
    display:block;
}
.dropdownimg:hover .dropdownimg-content {
    display: block;
}
.textsidebar:hover .dropdownimg-content{
    display: block;
}
.sideres:hover .dropdownimg-contenttext{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2c199b;
}
.dropdownimg:hover .dropbtn {
    background-color: #2c199b;
}
.imgsep{
    margin:1%
}
.columnsidebar {
    float: left;
    width: 30%;
    padding: 1%;
    height: auto; 
    background-color: #f2f2f2
}
.columnsidebar20 {
    float: left;
    width: 20%;
    padding: 1%;
    height: auto; 
    background-color: #f2f2f2
}

.columnmain{
    float:right;
    width:70%;
    margin:0;
    margin-top: 0%;
    height:auto;
}
.columnmain80{
    float:right;
    width:70%;
    margin:0;
    margin-top: 2%;
    height:auto;
    position: relative;
    /* padding:0; */
}
#parts{
    /* padding-left:2%;
    padding-right:2%; */
    /* margin-top:1%; */
    border-top: 1px solid black;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.newitemdiv{
    float:right;
    width:70%;
    margin:0;
    margin-top: 2%;
    height:auto;
}
.column33 {
    float: left;
    width: 30%;
    padding: 1%;
    height: auto; 
    border: white solid 1px;
    margin:1.666666%;
    background-color:;
}
.column30indetail{
    float: left;
    width: 30%;
    height:100%;
    /* z-index: 1; */
}
.detaillink{
    float:right;
    position:relative
}
.plusdetail{
    opacity: 0.5;
    width:100%;
}
.detailcenter{
    position:fixed;
    z-index: 17 ;
    background-color: white;
    margin:0;
    width:50%;
    height: 50%;
    top:25%;
    left:25%;
    display:none;
    /* top:50%;
    left:50%; */
}
.detailcenterbackground{
    position:fixed;
    z-index: 16 ;
    display:none;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    margin:0;
    background-color: #000000;
    opacity: 0.5;
}

.detailtooltip{
    background-color: #000000;
    color:white;
    padding:5px 20px;
    border-radius: 6px;
    position: absolute;
    top:8%;
    right:100%;
    display:none;
}
.plusdetail:hover{
    opacity: 1;
}
.detaillink:hover .detailtooltip{
   display:block;
}
/* .plusdetail:active{

} */
.column40R{
    width:40%;
    margin-bottom:3%;
    float: right;
    margin-right:3%;
    position: relative;
    background-color: white
}
.column40R:hover{
    background-color:lightgreen; 
    transition: 1s;
}
.column40R:active{
    background-color:rgb(104, 231, 104); 
    transition: 0s;
}
.column40L{
    width:40%;
    margin-bottom:3%; 
    margin-left:5%;
    float: left;
    position: relative;
    background-color: white
}
.column40L:hover{
    background-color:lightgreen; 
    transition: 1s;
}
.column40L:active{
    background-color:rgb(104, 231, 104); 
    transition: 0s;
}
.column70{
    float: left;
    width: 70%;
    padding: 1%;
    height: auto; 
    border: white solid 1px;
    margin:1.666666%;
    background-color:;
}
.row50{
    height:50%;
    margin:0;
    padding: 0;
    background-color:

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    padding: 0; 
}
#emailsignup{
    background-color: lightgray;
    margin-top:2%;
    border:orange solid 3px

}
#emails{
    background-color: lightgray;

}
#emailbox{
    border:black solid 3px
}

#smcfooter{
    background-color: black;
margin:0
}
.column33foot{
    float: left;
    width: 30%;
    background-color: black;
    height: auto; 
    margin:1%;
    margin-right: 2%;
}
.whitep{
color:white;    
}
.carousel-indicators{
    bottom:0
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    display:none;
    width: 100%;
    /* background-color: white;
    color: black; */
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.modelimg{
width:60%;
opacity:0.5 ;
margin-left: 20%;
margin-right: auto;


}
.modelimg:hover{
    opacity: 0.8;
}
.textcenter{
    position: absolute;
    top: 30%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    color:brown;
    font-size: 3vw;
}
#showsidebar{
display:none;
border:0;
}
#shownavibutton{
    position: absolute;
    bottom:0;
    left:20%;
    display:none
}
#shownavibutton a{
    background-color: rgb(223, 161, 81);
    color:black;
    padding:1%
}
#shownavibutton a:hover{
    background-color: rgb(255, 145, 0);
}
#showbutton{
    display:none;
    /* background-color: aqua; */
    position: absolute;
    top:0;
    left:0;
    /* margin-top:1%; */
}
#menubuttonphone{
    padding:6px 15px 6px 15px;
}
/* #showbutton button{
    background-color: rgb(223, 161, 81);
    color:black;
    text-align: center;
    width:30px;
    border-color: rgb(223, 161, 81);
} */
.pagebutton{
    background-color: white;
    color:black;
    text-align: center;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width:auto;
    border-color: white;
}
.signin{
    position:absolute;
    top:5%;
    right:0;
    margin-right:5%;
}
.popbutton{
    background-color: rgb(223, 161, 81);
    color:black;
    text-align: center;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width:auto;
    
    border-color: rgb(223, 161, 81);
}
.pagenumberbtn{
    background-color: rgb(182, 164, 136);
    border-color: rgb(182, 164, 136);
    color:black;
    text-align: center;
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    width:auto;
    
}
#showbutton a:hover{
    background-color: rgb(255, 145, 0);
}
.columnsidebar20pop{
    position:fixed;
    width:500px;
    height:100%;    
    float: left;
    top:0;
    left:0;
    z-index: 5;
    display:none;
    background-color:#f2f2f2;
    overflow:scroll;
}

.welcometag{
    float:left;
    position:absolute;
    left:40%;
    top:0%;
    font-size: 1vw;
    width:30%;
    height:50%;
}
.navbarpop{
    display:none;
}
#mainclose{
    display:none;
    height:100%;
    width:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:gray;
    opacity: 0.5;
    margin:0;

}

#showsidebarres{
display:none;
height:100%;
width:100%;
/* float:right; */
position:fixed;
z-index: 1;
top:0;
left:0;
background-color:gray;
opacity: 0.5;

}
#clickimg{
    width:100%;
    /* border:1px solid; */
    /* opacity: 0.5; */
    margin-left:5%;
    margin-right:5%;

}
.detailnumber{
    /* float:left; */
    width:auto;
    position: absolute;
    top:45%;
    left:0%;
    margin:0;
    font-size:2vw;

}
.detailimgstyle{
    width:80%;
    float:right;
}
.detailimg{
    float:left;
    width:35%;
    margin:0;
    /* margin-left:2%; */
    position: relative;
}
.detailmiddle{
    float:left;
    width:35%;
    height:100%;
    margin:0;
    margin-left:2%;
    /* position: relative; */
    /* font-family; */
}
.detailright{
    float:right;
    width:25%;
    height:15vw;
    margin:0;
    position: relative;

}
.price{
    font-family: "Merienda One";
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size:2em;
    text-align: right;
}
.detailquant{
    position: absolute;
    bottom:0%;
    margin:0;
    float:right; 
}
.detailquantR{
    float:right;
}

.carttip{
    position: relative;
    width:10%;
    float:left;
    margin:0;
    margin-right:5%;
}
.carttiptext{
    display:none;
    position: absolute;
    width:auto;
    bottom:100%;
    right:-30%;
    background-color:black;
    border-radius: 5px;
    /* opacity: 0.5; */
    color:white;
    text-align: center;
    padding: 5% 10%
}
.carttipR{
    position: relative;
    width:100%;
    margin:0
}
.carttiptextR{
    display:none;
    position: absolute;
    width:150%;
    bottom:0%;
    right:10%;
    background-color:black;
    opacity: 0.5;
    color:white;
    text-align: center;
}

.addcart{
    /* position: absolute;
    right:0;
    bottom:0; */
    float:right;
    width:30%;

}
.wish{
    width:100%;
    z-index: 1;

}
.addcart:hover{
    opacity: 0.5;
}
.carttip:hover .carttiptext{
    display:block;
    /* background-color:green; */
}
.carttipR:hover .carttiptextR{
    display:block;
    /* background-color:green; */
}
.detail-button{
    float:right;
}
.detail-addtocart{
    /* background-color:blue; */
    /* color:white; */
    /* font-size:1em; */
    text-align: center;
    margin:0;
    margin-top:0;
    position: absolute;
    right:0;
    bottom:0;
    width:80px;
    height:40px;
    float:auto;
}
.detail-addtolist{
    background-color:blue;
    color:white;
    /* font-size:1em; */
    text-align: center;
    margin:0;
    margin-top:0;
    position: absolute;
    right:0;
    bottom:0;
    width:80px;
    height:40px;
    float:right;
}
.detail-addtocart:hover{
    opacity: 0.7;
}
.detail-addtocart:active{
    background-color:rgb(66, 66, 221);
}
.detail_pageselect_outer{
    margin:0;
    width:70%;
    float:right;
    padding-top:1%;
    border-top:solid 1px;
    
}
.page_selecttion{
    margin:0;
    display: inline-block;
    float:right;
}
.page_selecttion a {
    color: black;
    float: left;
    padding: 3px 11px;
    text-decoration: none;
}
.borderrightnum{
    border-right: 1px solid gray;
}
#detailpage_now{
    background-color: rgb(49, 44, 34);
    border-color: rgb(49, 44, 34);
    color:white;
    /* opacity: 0.5; */
}
.modeltitle{
    text-align:center;
    font-family: "Sail";
    font-weight: bold;
}
.modeldetail{
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Merienda One";

}
@media (max-width:990px){
    .detail-addtocart{
        width:60px;
        height:30px;
        font-size:1vw;
    }
    .detail-addtolist{
        width:60px;
        height:30px;
        font-size:1vw;

    }

}
@media (max-width:950px){
    .detail-contentLeft {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-200%;
        background-color:   white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
    .detail-contentMiddle {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-150%;
        background-color: white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
    .detail-contentRight {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-0%;
        background-color: white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
}
@media (max-width:800px){
    body{
        margin-top:10%;
    }
    .columnsidebar{
        display: none;
    }
    .columnmain{
        width:100%;
    }
    .showsidebar{
        display: block;
        margin:0;
        margin-left:2%;
    }
    
    #showbutton{
        display:block;
    }
    #shownavibutton{
        display:block;
        z-index: 1.1;
    }
    
    .navbar{
        display:none;
    }
    .navbarpop{
        display:none;
    }
    .welcometag{
        position: absolute;
        left:30%;
        top:0%;
    }
    .columnsidebar20pop{
        display:none;
    }
    #detailpageside{
        display:none;
    }
    .columnmain80{
        width:100%;
    }
    .cartmenu{
        width:30px;
    }
    .signin{
        position:absolute;
        top:5%;
        right:0;
        margin-right:10%;
        
    }
    .columnsidebar20{
        display:none;
    }
    .detail_pageselect_outer{
        width:100%;
    }
    .columnsidebar20pop{
        width:500px
    }
}
@media (max-width:570px){
    .welcometag{
        width:500px;
    }
.price{
    font-size:1.4em;
    text-align: left;  
}
.addcart{
    width:50%;
    float:left;
}
.backup_arrow{
    width:5%;
}
.backup_arrow2{
    width:5%;
}
.seemoredetail{
    width:20%;
}
.detailquant{
    position: relative;
}
.carttip{
    width:20%;
}
.columnsidebar20pop{
    width:300px;
}
#closemark{
    margin:0;
    padding-bottom: 23px;
}
#signin{
    display:none;
}

}
@media (max-width:480px){
.detaillink:hover .detailtooltip{
  display:none;
}
    .column33foot{
        width:90%;
    }
    #footershop{
        display:none;
    }
    
}