body{
    background-color: white
}
div{
    background-color:white;
    margin: 0 5% 0 5%
    
}
.row{
    margin: 0 5% 0 5%;  
    
}
.backup_arrow{
    opacity: 0.75;
    position: fixed;
    bottom:1%;
    right:1%;
    width:3%;
    height: auto;
    z-index: 1;
}
.backup_arrow:hover{
opacity: 1;
}
.imgright{
   width: 50%;
    /* max-height: 50%;  */
    float: right
}
.imgleft{
    width: 50%;
     /* max-height: 50%; */
     float: left
 }
 .imgright:hover{
    opacity: 0.5;
 }
 .imgleft:hover{
    opacity: 0.5;
  }
#mainleft{
    position: absolute;
    width:30%;
    left:0;
    margin:0;
    background-color: lightgray
    }
.mainleft{
position: absolute;
width:30%;
left:0;
margin:0;
background-color: lightgray
}
#mainright{
    position: relative;
    width:70%;
    right:0;
    margin:0;
    background-color: lightgray;
    right:0
    }
.mainright{
position: relative;
width:70%;
right:0;
margin:0;
background-color: lightgray;
right:0
}
.navbar{
    background-color: white;
    list-style-type: none;
    margin: 0 0% 0 0%;  
    padding: 0;
    width:80%;
    height: auto;
    float:right;
    position: absolute;
    bottom:0;
    left:20%
}
.sidenav {
    /* height: 100%;
    width: 200px; */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar_left{
    background-color:#FFECC9;
    width:120px;
    height:400px;
    text-align:center;
    line-height:400px;
    float:left;
    }
.dropbtn {
    background-color:   white;
    color: black;
    padding: 1%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right:5%;
    float:left;
    /* border:green solid 3px; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.impactfont{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.imglink{
    height:auto;
    width:100%;
    float: left;
    margin: 0;
    margin-top:8%
    
}

.imglink:hover{
    opacity: 0.5;
    
  }
.newitemimg:hover{
    opacity: 0.5;
}
.dropbtn:hover {
    background-color: gray;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
.dropdownimg {
    position: relative;
    display: inline-block;
    float: right;
    background-color: #f2f2f2
}
.seemoredetail {
    position: relative;
    display: inline-block;
    /* float: right; */
    background-color: none  ;
}
.detail-contentLeft {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:-500%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
}

.detail-contentMiddle {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:-300%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
 
}
.detail-contentRight {
    display: none;
    position: absolute;
    bottom:0%;
    margin:0;
    right:0%;
    background-color: white;
    width:700%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    overflow: scroll;
 
}
@media (max-width:950px){
    .detail-contentLeft {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-200%;
        background-color:   white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
    .detail-contentMiddle {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-150%;
        background-color: white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
    .detail-contentRight {
        display: none;
        position: absolute;
        bottom:0%;
        margin:0;
        right:-0%;
        background-color: white;
        width:300%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        overflow: scroll;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.dropdownimg-content {
    display: none;
    position: absolute;
    left :100%;
    top:0%;
    background-color: #f9f9f9;
    width:auto;
    margin:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownimg-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdownimg-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.seemoredetail:hover .detail-contentLeft{
    display:block;

}
.seemoredetail:hover .detail-contentMiddle{
    display:block;
}
.seemoredetail:hover .detail-contentRight{
    display:block;
}
.dropdownimg:hover .dropdownimg-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #2c199b;
}
.dropdownimg:hover .dropbtn {
    background-color: #2c199b;
}
.imgsep{
    margin:1%
}
.columnsidebar {
    float: left;
    width: 30%;
    padding: 1%;
    height: auto; 
    background-color: #f2f2f2
}
.columnmain{
    float:right;
    width:70%;
    margin:0;
    margin-top: 2%;
    height:auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.newitemdiv{
    float:right;
    width:70%;
    margin:0;
    margin-top: 2%;
    height:auto;
}
.column33 {
    float: left;
    width: 30%;
    padding: 1%;
    height: auto; 
    border: white solid 1px;
    margin:1.666666%;
    background-color:;
}
.column30indetail{
    float: left;
    width: 30%;
    z-index: 1;
}
.column70{
    float: left;
    width: 70%;
    padding: 1%;
    height: auto; 
    border: white solid 1px;
    margin:1.666666%;
    background-color:;
}
.row50{
    height:50%;
    margin:0;
    padding: 0;
    background-color:

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    padding: 0; 
}
#emailsignup{
    background-color: lightgray;
    margin-top:2%;
    border:orange solid 3px

}
#emails{
    background-color: lightgray;

}
#emailbox{
    border:black solid 3px
}

#smcfooter{
    background-color: black;
margin:0
}
.column33foot{
    float: left;
    width: 30%;
    background-color: black;
    height: auto; 
    margin:1%;
    margin-right: 2%;
}
.whitep{
color:white;    
}
.carousel-indicators{
    bottom:0
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    /* background-color: white;
    color: black; */
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}